@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');


.navbar { 
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.quote {
    display: flex; 
    justify-content: flex-end;
    width: 100%;
    height: 40px;
    background-color: rgb(71, 181, 249);;
}

.number {
    display: flex;
    width: 160px;
    margin-right: 2px;
    height: auto;
    align-items: center;
    padding: 1px;
    color: white;
}

.btn {
    width: 180px;
    margin: 0 3px;
    color: white;
    background-color: transparent;
    border: none;
}

.number i {
    padding: 1px;
    font-size: 1.2rem;
}


.number:hover, .btn:hover {
    font-weight: 600;
    transition: .7s ease-in;
    cursor: pointer;
}

@media screen and (min-width: 700px) {
  body {
    background-color: red;
  }
}



.logo-menu {
    background-color: yellowgreen;
}

.logo {
    font-family: "Winky Sans" ;
    font-size: 1.8rem;
    font-weight: 500;
}

.logo h2 a {
    color: rgb(71, 181, 249);
}


.logo h2 a span {
    color: lightseagreen;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu li {
    position: relative;
    padding: 8px 12px;
    /*overflow: hidden;*/
}

.menu li a {
    font-size: 1.2rem;
    color: rgb(71, 181, 249);
}










