@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar { 
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 99;
}

.quote {
    display: flex; 
    justify-content: flex-end;
    width: 100%;
    height: 40px;
    background-color: rgb(71, 181, 249);
}

.number {
    display: flex;
    width: 160px;
    margin-right: 2px;
    height: auto;
    align-items: center;
    padding: 1px;
    color: white;
}

.btn {
    width: 180px;
    margin: 0 3px;
    color: white;
    background-color: transparent;
    border: none;
}

.number i {
    padding: 1px;
    font-size: 1.2rem;
}


.number:hover, .btn:hover {
    font-weight: 600;
    transition: .7s ease-in;
    cursor: pointer;
}





.logo-menu {
    padding: 7px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-family: "Winky Sans" ;
    font-size: 1.8rem;
    font-weight: 300;
}

.logo h2 a {
    color: rgb(71, 181, 249);
}


.logo h2 a span {
    color: lightseagreen;
}

.menu {
    display: flex;
}

.menu li {
    position: relative;
    padding: 8px 12px;
    list-style-type: none;
    
    /*overflow: hidden;*/
}

.menu li a {
    font-size: 1.2rem;
    color: lightgray;
    text-decoration: none;                   
}

.menu li a:hover {
    color: rgb(160, 158, 158);
    transition: .7s ease-in-out;
}


.bars {
  display: none;
  color: rgb(71, 181, 249);
  font-size: 1.3rem;
  
}

.fa-times {
    display: none !important;
}

@keyframes roll {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


.bars i:hover {
    animation: roll 1s;
}

.fa-times:hover {
    color: rgb(160, 158, 158);
    transform: scale(1.2);
    transition: .7s ease-in;
}

.open {
    display: flex !important;
    background-color: rgb(71, 181, 249);
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 100;
}

@media screen and (max-width: 700px) {
    .nav {
        justify-content: space-between;
    }
    .logo h2 {
        font-size: 40px;
    }
    .bars {
        font-size: 40px;
    }
    .menu {
      display: none;
    }
    .fa-times {
      display: block !important;
      font-size: 30px;
      color: lightgray;
      padding: 4px;
    }
    .logo {
        font-size: 1.1rem;
    }
    .bars {
        display: block;
    }
  }


/* H O M E */
.woman {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 50%;

}
img {
    width: 90%; 
    border-radius: 20px;

}

.home  {
    width: 100%;
    height: auto ;
    display: flex;
    margin-top: 30px;
    padding: 15px;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 8px;
}

.home-text {
    width: 50%;
    padding: 0 35px;
    color: gray;
}

.home-text h1 {
    margin: 10px 0;
    font-size: 50px;
    color: rgb(106, 105, 105);
}

.home-text p {
    font-size: 18px;
}

.home-text button {
    width: 200px;
    height: 40px;
    background-color: rgb(71, 181, 249);
    margin: 25px 0; 
    color: white;
    border: 2px solid transparent !important;
    border-radius: 20px;
    font-size: 15px;
}

.home-text button:hover {
    background-color: white;
    color:  rgb(71, 181, 249); ;
    border: 2px solid rgb(71, 181, 249); 
    transition: 0.9s;
}

@media screen and (max-width: 950px) {
    .home-text h1 {
        margin: 10px 0;
        font-size: 35px;
    }
    img {
        width: 100%;
    }
    .home-text p {
        font-size: 15px;
    }
    .home-text button {
        padding: 8px 20px; 
        margin: 10px 0; 
        border: 2px solid darkgray; 
        border-radius: 20px;
    }
}

@media screen and (max-width: 700px) {
    .home {
        flex-direction: column-reverse;
    }
    .woman {
        width: 95%;
    }
    img {
        width: 100%;
    }
    .home-text {
        width: 95%;
        padding: 15px 10px;
    }
    .home-text h1 {
       font-size: 30px;
    }
}